#div1{
    width: 80px;
    height: 80px;
    background: red;
}
#div2{
    width: 80px;
    height: 80px;
    background: rgb(2, 245, 14);
}
#div3{
    width: 80px;
    height: 80px;
    background: rgb(3, 19, 253);
}